
 <md-grid-list cols="2"[style.background]="'lightblue'">
 

     <md-grid-tile>
     <md-card class="card_class">
   
   <md-card-subtitle>Subtitle first</md-card-subtitle>
   
   <md-card-content class="card_content_class">
       <img md-card-image src="../soft-net-nylon-58-133-2b4.jpg">
      <p>Here is some more content</p>
      <p>Here is some more content</p>
   </md-card-content>
</md-card>
     
     </md-grid-tile>

     <md-grid-tile>
     <md-card class="card_class">
   
   <md-card-subtitle>Subtitle first</md-card-subtitle>
   <md-card-content class="card_content_class">
       <img md-card-image src="../soft-net-nylon-58-133-2b4.jpg">
      <p>Here is some more content</p>
      <p>Here is some more content</p>
   </md-card-content>
</md-card>
     
     </md-grid-tile>

     <md-grid-tile>
     <md-card class="card_class">
   
   <md-card-subtitle>Subtitle first</md-card-subtitle>
   <md-card-content class="card_content_class">
       <img md-card-image src="../soft-net-nylon-58-133-2b4.jpg">
      <p>Here is some more content</p>
      <p>Here is some more content</p>
   </md-card-content>
</md-card>
     
     </md-grid-tile>

     <md-grid-tile>
     <md-card class="card_class">
   
   <md-card-subtitle>Subtitle first</md-card-subtitle>
   <md-card-content class="card_content_class">
       <img md-card-image src="../soft-net-nylon-58-133-2b4.jpg">
      <p>Here is some more content</p>
      <p>Here is some more content</p>
   </md-card-content>
</md-card>
     
     </md-grid-tile>